:root {
    --space-cadet: #323649;
    --white: #fffdfd;
    --teal: #008080;
    --bittersweet: #f87060;

    --primary: var(--space-cadet);
    --background: var(--white);
    --secondary: var(--teal);
    --accent: var(--bittersweet);

    --ff-primary: 'Libre Franklin', sans-serif;
    --ff-secondary: 'Andada Pro', serif;

    --fs-base: 16px;
    --fs-s: 0.875rem;
    --fs-m: 1.25rem;
    --fs-l: 1.5rem;
    --fs-xl: 2rem;

    --fh-s: 1.125rem;
    --fh-m: 1.75rem;
    --fh-l: 1.875rem;
    --fh-xl: 2.375rem;

    --fw-reg: 400;
    --fw-med: 500;
    --fw-semi: 600;
}

html, body {
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    font-weight: var(--fw-med);
    line-height: 28px;

    background: var(--background);
}

body {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2.5rem 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem 2rem;
}

h1, h2, p, small {
    color: var(--primary);
}

h1, h2 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-semi);

    color: var(--primary);
}

h1 {
    font-size: var(--fs-xl);
    line-height: var(--fh-xl);
}

h2 {
    font-size: var(--fs-l);
    line-height: var(--fh-l);
}

p {
    font-size: var(--fs-m);
    line-height: var(--fh-m);
    letter-spacing: 0.03rem;
}

small {
    font-size: var(--fs-s);
    font-weight: var(--fw-reg);
    line-height: var(--fh-s);
}

a {
    --link-color: var(--secondary);

    position: relative;
    color: var(--link-color);
    text-decoration: none;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -3px;
        scale: 0 1;
        transform-origin: 100% 50%;
        transition: scale 200ms 150ms ease-in-out;
        background-color: var(--link-color);
    }

    &:is(:active) {
        --link-color: var(--accent);
    }

    &:is(:hover, :active)::after {
        scale: 1 1;
        transform-origin: 0 50%;
    }
}
