---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About — Àlex Marlés">
    <main>
        <h1>Hi there, I'm Àlex!</h1>
        <p>
            Living and working in Barcelona, I blend front-end development and
            UX design to create websites that are as easy to use as they are
            beautiful. My journey in this field has been driven by a simple
            belief: great design and effective functionality should go hand in
            hand.
        </p>
        <p>
            I am currently Making the World Playful by Designing and Building
            experiences at <a href="https://www.king.com/" target="_blank"
                >King</a
            >.
        </p>
        <p>
            I've got a Master's Degree in Interaction Design and User Experience
            by <a href="https://uoc.edu" target="_blank">UOC</a>, where I wrote
            my thesis on the prevention of micro-aggressions in language,
            translated into the concept design of Assistant.
        </p>
        <p>
            Over the years, I've learned a lot about what makes websites work
            for people. I've become a bit of a geek about user experience,
            always looking for ways to make things clearer, faster, and more
            enjoyable to use. Keeping up with the latest in tech and design
            helps me bring new ideas and improvements to every project.
        </p>
        <p>
            When I'm not coding or designing, Barcelona is my playground—whether
            I'm cycling through its lively streets, capturing moments of
            everyday magic with my camera, or savouring the rich tapestry of its
            culinary delights. This city's mix of cultures, architecture, and
            the sea inspires me daily.
        </p>
    </main>
</Layout>
