---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Now — Àlex Marlés">
    <main>
        <h1>Right now I am...</h1>
        <h2>Reading</h2>
        <p>L'altra banda de la muntanya, by Mina Salami</p>
        <h2>Playing</h2>
        <p>Stray, on PS5</p>
        <h2>Learning</h2>
        <p>Swedish, on Duolingo</p>
    </main>
</Layout>
