---

---

<footer class="main-footer">
    <h1>Àlex Marlés</h1>
    <small>hello@alexmarles.com</small>
    <div class="social-links">
        <a href="#">LinkedIn</a>
        <a href="#">Twitter</a>
        <a href="#">Bluesky</a>
    </div>
</footer>

<style>
    .main-footer {
        width: 100%;
        align-self: flex-end;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        padding: 0.5rem 2rem;
    }

    .social-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>
