---
interface Props {
    inbox: string;
}

const { inbox } = Astro.props;
---

<footer class="main-footer">
    <h2>Àlex Marlés</h2>
    <small><span id="footer-inbox">{inbox}</span>@alexmarles.com</small>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/alexmarles/" target="_blank"
            >LinkedIn</a
        >
        <a href="https://twitter.com/alexmarles" target="_blank">Twitter</a>
        <a href="https://bsky.app/profile/unicoder.dev" target="_blank"
            >Bluesky</a
        >
    </div>
</footer>

<style>
    .main-footer {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        padding: 0.5rem 2rem;
    }

    .social-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>
