<h1 data-greeting></h1>

<script>
    import { chooseGreetingOption } from '../scripts/chooseGreetingOption.js';

    const content = chooseGreetingOption();
    document.querySelector('[data-greeting]').textContent = content.greeting;
</script>
