---
interface Props {
    path: string;
}

const { path } = Astro.props;
---

<header class="main-header">
    <a
        class:list={['header-link', { current: path.includes('about') }]}
        href="/about/"
    >
        <h2>About</h2>
    </a>
    <a class="logo" href="/">Àlex Marlés</a>
    <a
        class:list={['header-link', { current: path.includes('work') }]}
        href="/work/"
    >
        <h2>Work</h2>
    </a>
</header>

<style>
    .main-header {
        width: 100%;
        height: 72px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;

        padding: 0 2rem;
    }

    .header-link {
        &:active::after {
            scale: 1 1;
        }

        &.current::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: -3px;
            background-color: var(--accent);
        }
    }

    .logo {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        background-image: url('/logo.svg');
        background-size: cover;
        background-repeat: no-repeat;
        text-indent: -9000px;

        &:hover::after,
        &:active::after {
            display: none;
        }
    }
</style>
