---

---

<header class="main-header">
    <a class="header-link current" href="#">
        <h2>About</h2>
    </a>
    <a class="logo" href="#">Àlex Marlés</a>
    <a class="header-link" href="#">
        <h2>Work</h2>
    </a>
</header>

<style>
    .main-header {
        width: 100%;
        height: 72px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;

        padding: 0 2rem;
    }

    .header-link {
        color: var(--primary);

        &:hover,
        &:active,
        &.current {
            color: var(--primary);
        }
    }

    .logo {
        display: inline-block;
        width: 4rem;
        height: 4rem;
        background-image: url('/logo.svg');
        background-size: cover;
        background-repeat: no-repeat;
        text-indent: -9000px;
    }
</style>
