---
---

<header class="main-header">
    <a class="header-link current" href="#">About</a>
    <span class="header-logo">Logo</span>
    <a class="header-link" href="#">Work</a>
</header>

<style>
    .main-header {
        width: 100%;
        height: 72px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;

        padding: 0 2rem;
    }

    .header-link {
        color: var(--primary);

        &:hover,
        &:active,
        &.current {
            color: var(--primary);
        }
    }
</style>
